---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>
            <h4 class="author-text">sainideepak119@gmail.com, desaini@microsoft.com</h4>

            <div class="author-text">
                {{ site.title_description }}
            </div>

        {% include social_links.html %}
        </div>
        <div class="col-md-12 main content-panel">

            
            <div class="articles">
            <h2>News</h2>
            </div>
            
            <div>
                <ul>
                    <li>
                        Served as <b>Session Chair for session on recommender systems at SIAM conference on data mining</b>, Houston, 2024   
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>April, 2024</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Served as <b>Program Committee member reviewing</b> research papers <b>for SIGIR </b>Conference on Research and Development in Information Retrieval, Washington DC, 2024  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>January, 2024</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                        
                    <li>
                        Served as <b>Program Committee member reviewing</b> research papers <b>for SIAM conference on data mining</b>, Houston, 2024  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>November, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                        
                    <li>
                        Served as <b>Program Committee member reviewing</b> research papers <b>for the Web Conf</b>, Singapore, 2024  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>November, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Won the Bing Ads Greatness Award in the Engineering Excellence category for work on optimizing online language encoders
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>October, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Served as <b>Program Committee member reviewing</b> research papers <b>for WSDM</b> Conference on Web Search and Data Mining, Mexico, 2024  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>September, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">

                    <li>
                        Recieved Microsoft Patent Award for patent on <b>OnlineGCN: Augmenting query representation with auxiliary information online for better retrieval</b>  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>September, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Served as <b>Program Committee member reviewing</b> research papers <b>for SIGIR-Asia Pacific</b> Conference on Research and Development in Information Retrieval, Beijing, 2023  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>August, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        <b>Deep Encoders with Auxiliary Parameters for Extreme Classification</b> accepted at SIGKDD Conference on Knowledge Discovery and Data Mining, Long Beach, 2023
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>May, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        <b>Personalized Retrieval over Millions of Items</b> accepted at SIGIR Conference on Research and Development in Information Retrieval, Taiwan, 2023
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>April, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Served as <b>Program Committee member reviewing</b> research and applied science track papers <b>for SIGKDD</b> Conference on Knowledge Discovery and Data Mining, California, 2023  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>March, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Served as <b>Program Committee member reviewing</b> long and short papers <b>for SIGIR</b> Conference on Research and Development in Information Retrieval, Taiwan, 2023  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>February, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        <b>Renee: End-to-end Training of Extreme Classification Models</b> accepted at Conference on Machine Learning and Systems(MLSys), Miami, 2023
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>February, 2023</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        <b>NGAME: Negative Mining-aware Mini-batching for Extreme Classification</b> accepted at Web Search and Data Mining (WSDM) conference, Singapore, 2023
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>November, 2022</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">

                    <li>
                        Recieved Microsoft Patent Award for patent on <b>Personalizing per-Event Retrieval</b>  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>October, 2022</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Now a Senior Applied Scientist at Bing Ads! 
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>August, 2022</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Gave <a href="https://www.microsoft.com/en-us/research/video/opening-remarks-the-future-of-search-and-recommendation/">talk at the 2021 Microsoft Research Summit</a> in the "Future of Search and Recommendation" track
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>October, 2021</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Won the Bing Ads Greatness Award in the Engineering Excellence category for work on combining Extreme Classification and Siamese Networks
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>October, 2021</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        <b>SiameseXML: Siamese Networks meet Extreme Classifiers with 100M Labels</b> accepted at International Conference on Machine Learning, Virtual Only, 2021
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>May, 2021</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">

                    <li>
                        Recieved Microsoft Patent Award for patent on <b>GalaXC (Graph neurAI networks with Labelwise Attention for eXtreme Classification) for Sponsored Search</b>  
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>March, 2021</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        Gave talk to the Financial Modelling Group at BlackRock on Extreme Classification and its potential applications in financial recommendations
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>March, 2021</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        <b>GalaXC: Graph Neural Networks with Labelwise Attention for Extreme Classification</b> accepted at International World Wide Web Conference, Slovenia, 2021 
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>January, 2021</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">

                    <li>
                        Gave talk on DeepXML: A Framework for Deep Extreme Classification Applied to Recommending 100 Million Items at the Technical Advisory Board meeting (Microsoft Research India’s annual meeting)
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>January, 2021</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">
                    
                    <li>
                        <b>DeepXML: A deep extreme multi-Label learning framework applied to short text documents</b> accepted at Web Search and Data Mining (WSDM), Israel, 2021 
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>November, 2020</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">

                    <li>
                        <b>DECAF: Deep extreme classification with label features</b> accepted at Web Search and Data Mining (WSDM), Israel, 2021
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>November, 2020</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">

                    <li>
                        Now a Research Software Development Engineer II at MSR! 
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>November, 2019</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">

                    <li>
                        Joined MSR India as Research Software Development Engineer! 
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>Decemner, 2018</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">

                    <li>
                        Joined Zomato as AI Engineer! 
                        <small style="font-size: 14px;margin-top: -10px;padding-top: 0px;color: #969696;"}>June, 2018</small>
                    </li>
                    <br style="display: block;content: '';margin-top: 8px;">

                </ul>

            </div>

        </div>

        <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Publications/Posts/Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>


    </div>
</div>
